DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="lillia"
DB_HOST="localhost"
PHX_SERVER=true
DATABASE_URL="ecto://$DB_USER:$DB_PASSWORD@$DB_HOST/$DB_NAME"
ECTO_IPV6=false
POOL_SIZE=2
SECRET_KEY_BASE="sG94kFc4Sq+kRfPMAvmQFNa/GnkwjfYv8CIyCp21LTLXHnITcMGpnNn6ObXgWWs4"
PHX_HOST="localhost"
PORT=4000
MAILER_API_KEY=
